.nav_img {
    width: 45px;
    height: 45px;
}
header{
    height: 150px;
    background-color: rgb(168, 157, 143);
width: 100%;
}
main{
    height: fit-content;
    width: 80%;
    /* background-color: bisque; */
}
aside{
    height: auto;
    width: 20%;
    background-color: rgb(164, 238, 138);

}
footer{
    /* position: fixed;
    display: block; */
    background-color: blueviolet;
    width: 100%;
    bottom: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: 20px;
    color: white;
    font-size: 18px;
}
.header_image{
    position: relative;
height: 96px;
width: 162.5px;
text-align: center;
}
.btn{
    width:fit-content ;
    height:fit-content ;

}
.sesion{
    background-color: brown;
    width: 10%;
    position: absolute;
    right: 05%;
}
.usu{
    height: 75px;
    width: 75px;
}
.adminmod{
    background-color: chocolate;
    position: absolute;
    left: 30%;
}
nav{
    /* background-color: chartreuse; */
    width: 30%;
}
.producto{
    position: absolute;
    text-align: center;
}
h1{
    text-align: center;
}
.seccion{
    
    height: 40px;
    width: 100px;
    background-color: rgb(80, 75, 69);
    color: #e7e7e7;
    bottom: 0%;
}
body{
    background-color: rgb(105, 190, 161);
}
.menu{
    position: relative;
}
.seccion:hover {
    background: rgb(49, 46, 43);
    color: #e7e7e7;
}
.admbuttons{
    position: relative;
    background-color: rgb(80, 75, 69);
    color: #e7e7e7;
}
/* antiquewhite; */
.prod{
    background-color: rgb(144, 255, 218);
}