.nav_img {
    width: 45px;
    height: 45px;
}
header{
    margin-left: 0.8%;
    height: fit-content;
    background-color: rgb(168, 157, 143);
width: 100%;
}
.head{
    margin-top: 10px;
}
main{
    height: fit-content;
    width: 80%;
}
aside{
    height: auto;
    width: 20%;

}
footer{
    /* position: fixed;
    display: block; */
    margin-left: 0.8%;
    background-color: rgb(80, 75, 69);
    width: 100%;
    bottom: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: 20px;
    color: white;
    font-size: 18px;
}
.header_image{
    position: relative;
height: 96px;
width: 162.5px;
text-align: center;
}
.btn{
    width:fit-content ;
    height:fit-content ;

}
.sesion{
    
    position: relative;
    top: 20%;
    padding-left: 20%;
}
.usu{
    height: 75px;
    width: 75px;
}
.adminmod{
    position: relative;
    left: 20%;
    top: 11%;
}
nav{
    width: 30%;
}
.producto{
    position: absolute;
    text-align: center;
}
h1{
    text-align: center;
}
.seccion{
    
    height: 40px;
    width: 100px;
    background-color: rgb(80, 75, 69);
    color: #e7e7e7;
    bottom: 0%;
}
body{
    background-color: rgb(105, 190, 161);
    width: 100%;
}
.menu{
    position: relative;
}
.seccion:hover {
    background: rgb(49, 46, 43);
    color: #e7e7e7;
}
.admbuttons{
    position: relative;
    background-color: rgb(80, 75, 69);
    color: #e7e7e7;
}
.admbuttons:hover {
    background: rgb(49, 46, 43);
    color: #e7e7e7;
}
/* antiquewhite; */
.prod{
    background-color: rgb(144, 255, 218);
}
.btn_buscador{

    background-color: rgb(80, 75, 69);
}
.btn_buscador:hover {
    background: rgb(49, 46, 43);
}
.anuncio{
    width: 100%;
} 
a{
    color: black;
    height: 300px;
    width: 100px;
}
.centrado{
    padding-left: 30%;
}
.centradot{
    text-align: center;
}